<div class="dialog-header" style="background-color: #009688">
  <div class="dialog-header-content">
    <h3 md-dialog-title>Virtual node specifications</h3>
  </div>
</div>
<div md-dialog-content>
  <div class="row">
    <div class="col-xs-12">
      <md-select *ngIf="!editMode" [(ngModel)]="inputResource" placeholder="Resource" style="width:100%;">
        <md-option value="Computing">Computing</md-option>
        <md-option value="Storage">Storage</md-option>
        <md-option value="Cloud">Cloud</md-option>
      </md-select>
      <md-select *ngIf="editMode" [(ngModel)]="inputNode.resource" placeholder="Resource" style="width:100%;">
        <md-option value="Computing">Computing</md-option>
        <md-option value="Storage">Storage</md-option>
        <md-option value="Cloud">Cloud</md-option>
      </md-select>
      <br><br>
      <md-input *ngIf="!editMode" placeholder="Physical location (from preffered PoP)" [(ngModel)]="inputLocation" style="width: 100%"></md-input>
      <md-input *ngIf="editMode" placeholder="Physical location (from preffered PoP)" [(ngModel)]="inputNode.location" style="width: 100%"></md-input>
      <!--<br><br>
      <md-input *ngIf="!editMode" placeholder="Other comments: e.g. minimum CPU or memory capacity" [(ngModel)]="inputComment" style="width: 100%"></md-input>
      <md-input *ngIf="editMode" placeholder="Physical location (from preffered PoP)" [(ngModel)]="inputNode.comment" style="width: 100%"></md-input>-->
    </div>
  </div>
</div>
<div md-dialog-actions style="float:right">
  <button md-raised-button (click)="save()" style="background-color: #009688;color: white"> Create</button>
  <button md-button (click)="dialogRef.close()">Cancel</button>
</div>
