// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
button.active{
  background: #fff;
  color: $main-color;
}
button.active:hover{
  color: #fff;
}
