<project-header [title]="'Virtual Network Detail'" [color]="'#009688'"></project-header>

<div class="container">
  <md-card class="example-card">

    <md-card-content>
      <i class="fa fa-spinner fa-spin" *ngIf="isLoading"></i>
      <div class="row" style="margin-top:10px">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-6" *ngIf="!ended">
              <b>The auction ends at: </b> {{endTimeinDateFormat | date: 'medium'}}
            </div>
            <div class="col-xs-6" *ngIf="ended">
              <button md-raised-button (click)="showResult()" style="background-color: #009688;color: white">
                Show result
              </button>
            </div>
            <div class="col-xs-6">
              <b>Service provider owner: </b> {{owner}}
            </div>
          </div>
          <div #mynetwork style="
            margin-top:10px;
            width:100%;
            height:700px;
            border:1px solid lightgray">
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col-xs-6">
          <div *ngIf="isPackageAllowed > 0 && now < endTime" >
            <i> The upper bound cost is {{packageUpperBoundCost}}</i>
            <md-input type="number"
                      (change)="isBigger()"
                      [min]="1"
                      [max] = "packageUpperBoundCost"
                      [(ngModel)]="packageBidValue"
                      placeholder="Virtual network upper bound cost (in ETH)"
                      style="width:100%;margin-top: 5px;">
            </md-input>
          </div>
        </div>
        <div class="col-xs-6">
          <div style="float: right;margin-top: 10px;">
            <button md-raised-button *ngIf="bidValues.length !== 0" (click)="bid()" style="background-color: #009688;color: white">
              Send individual Bids
            </button>
            <button md-raised-button *ngIf="packageBidValue" (click)="packageBid()" style="background-color: #009688;color: white">
              Send package Bid
            </button>
            <button md-raised-button *ngIf="owner === user && now > endTime && !ended"
                    (click)="endAuction()" style="background-color: #009688;color: white">
              End auction
            </button>
          </div>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>
