<project-header [title]="'Virtual Networks'" [icon]="'fa fa-cloud'" [color]="'#009688'"></project-header>

<div class="container">
  <md-card class="example-card">
    <md-card-content>
      <div class="row">
        <div class="col-xs-12">
          <button  md-raised-button class="pull-right" [routerLink]="['/virtual-network-request']" style="background-color: #009688;color: white">
            + Create new VN request
          </button>
          <h4>New Services</h4>
          <md-grid-list cols="3" rowHeight="250">
            <md-grid-tile> <!-- ngFor goes here -->
              <virtual-network-tile (click)="openVirtualNetwork()"></virtual-network-tile>
            </md-grid-tile>
          </md-grid-list>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h4>Open Services</h4>
          <md-grid-list cols="3" rowHeight="250">
            <md-grid-tile> <!-- ngFor goes here -->
              <virtual-network-tile (click)="openVirtualNetwork()"></virtual-network-tile>
            </md-grid-tile>
            <md-grid-tile> <!-- ngFor goes here -->
              <virtual-network-tile (click)="openVirtualNetwork()"></virtual-network-tile>
            </md-grid-tile>
          </md-grid-list>
        </div>
      </div>
      <!--<div class="row">
        <div class="col-xs-12">
          <h4>Closed Services</h4>
          <md-grid-list cols="3" rowHeight="250">
            <md-grid-tile> <!-- ngFor goes here
              <virtual-network-tile (click)="openVirtualNetwork()"></virtual-network-tile>
            </md-grid-tile>
          </md-grid-list>
        </div>
      </div>-->
    </md-card-content>
  </md-card>
</div>

