<project-header [title]="'Virtual Networks'" [icon]="'fa fa-cloud'" [color]="'#009688'"></project-header>

<div class="container">
  <md-card class="example-card">
    <md-card-content>
      <div class="row">
        <div class="col-xs-12">
          <button  md-raised-button class="pull-right" [routerLink]="['/virtual-network-request']" style="background-color: #009688;color: white">
            + Start new auction
          </button>
          <h4>Open auctions ({{openAuctionList.length}})</h4>
          <md-grid-list cols="3" rowHeight="250">
            <md-grid-tile *ngFor="let auction of openAuctionList">
              <virtual-network-tile [auction] = "auction"(click)="openAuction(auction.auctionAddr)"></virtual-network-tile>
            </md-grid-tile>
          </md-grid-list>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h4>Ended but not closed auctions ({{endAuctionsList.length}})</h4>
          <md-grid-list cols="3" rowHeight="250">
            <md-grid-tile *ngFor="let auction of endAuctionsList">
              <virtual-network-tile [auction] = "auction" (click)="openAuction(auction.auctionAddr)"></virtual-network-tile>
            </md-grid-tile>
          </md-grid-list>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h4>Closed auctions ({{closedAuctionList.length}})</h4>
          <md-grid-list cols="3" rowHeight="250">
            <md-grid-tile *ngFor="let auction of closedAuctionList">
              <virtual-network-tile [auction] = "auction" (click)="openAuction(auction.auctionAddr)"></virtual-network-tile>
            </md-grid-tile>
          </md-grid-list>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>

