<md-card class="mini-card">
  <div class="row">
    <div class="col-xs-4">
      <img src="../../assets/img/kom_mini.png" style="width: 85px;height: 85px">
    </div>
    <div class="col-xs-8">
      <div class="row">
        <div class="col-xs-12">
          <h3 style="font-size:14pt">...</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <span style="color:gray; font-size: 10pt">
            <i class="fa fa-user-circle"></i> {{1}}
            <i class="fa fa-comment"></i> {{3}}
          </span>
          <md-card-subtitle style="margin-top:1px">
            End time: {{auction.endTime | date: 'medium'}}
          </md-card-subtitle>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:16px;">
    <div class="col-xs-12">
      <b style="font-size:14px">STATUS</b>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <span *ngIf="auction.isOpened && !auction.ended" style="font-size:14px">Open</span>
      <span *ngIf="!auction.isOpened" style="font-size:14px">Closed</span>
      <span *ngIf="auction.ended" style="font-size:14px">Ended</span>
    </div>
  </div>
</md-card>
