<project-header [title]="'Virtual Networks'" [icon]="'fa fa-cloud'" [color]="'#009688'"></project-header>

<div class="container">
  <md-card class="example-card">
    <md-card-content>
      <h3>
        Create your virtual network request <span [mdTooltip]="'Click on Edit to start adding virtual nodes'" class="fa fa-question-circle" style="color: #009688"></span>
      </h3>
      <i>Either an upper bound cost for the whole virtual network or for each virtual node must be defined.</i>
      <div class="row" style="margin-top:10px">
        <div class="col-xs-4">
          <angular2-date-picker (onDateSelect)="endTimeChanged($event)"
                                [(ngModel)]="_inputEndTime"
                                [settings]="settings">
          </angular2-date-picker>
        </div>
        <div class="col-xs-8">
          <p *ngIf="inputSumOfUpperBoundCosts && !inputVnUpperBoundCost">
            Virtual network upper bound cost (in ETH): {{inputSumOfUpperBoundCosts}}
          </p>
          <md-input *ngIf = "!inputSumOfUpperBoundCosts || inputVnUpperBoundCost"
                    type="number"
                    [min]="1"
                    [(ngModel)]="inputVnUpperBoundCost"
                    placeholder="Virtual network upper bound cost (in ETH)"
                    style="width:100%;margin-top: -10px;">
          </md-input>
        </div>
      </div>

      <i class="fa fa-spinner fa-spin" *ngIf="isLoading"></i>
      <div class="row" style="margin-top:10px">
        <div class="col-xs-12">
          <div #mynetwork style="
            width:100%;
            height:700px;
            border:1px solid lightgray">
          </div>
        </div>
      </div>
      <span>

      </span>
      <div class="row" style="margin-top:20px">
        <div class="col-xs-12">
          <div *ngIf="auctionAddr">
            <b>Auction address: </b> {{auctionAddr}}
          </div>
          <div style="float: right">
            <button md-raised-button *ngIf="!auctionAddr" (click)="send()" [disabled]="isDisabled()" style="background-color: #009688;color: white">
              Send
            </button>
          </div>
        </div>
      </div>
      <button (click)="test1()" style="width:50%">
        REQUEST
      </button>
    </md-card-content>
  </md-card>
</div>
