<project-header [title]="'Welcome'" [icon]="'fa fa-home'"[color]="'#008fd3'"></project-header>


<div class="container">
  <md-card class="example-card">
    <md-card-header>
      <div md-card-avatar></div>
      <md-card-title>Jordi Bisbal Ansaldo</md-card-title>
      <md-card-subtitle>WS 17-18</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="../../assets/img/tu_logo.png" alt="Photo of a Shiba Inu">
    <md-card-content>
      <div> Welcome to the official home page for the network slicing project </div>
      <br>
      <div *ngIf="!user">
      <div> You are not logged in</div>
        <a [routerLink]="['/login']">Login</a>
        <a [routerLink]="['/register']">Register</a>
      </div>
      <div *ngIf="user">
        You are logged in with address: <i>{{user}}</i>
      </div>

    </md-card-content>
  </md-card>
</div>
