<div class="header-container">
  <div class="header2" style="background-color: #008fd3">
    <div class="header-content" style="font-size:18pt;padding-top: 57px;padding-left: 35px">
      Products list
    </div>
  </div>

  <div class="container">
    <!--<div class="row">
      <div class="col-xs-12">
        <h4> Product factory </h4>
        <input type="text" [(ngModel)]="name"/>
        <button (click)="newContract()" class="btn btn-primary">create contract</button>
        <button (click)="getCount()" class="btn btn-primary">get count</button>
        <button (click)="getContractByName()" class="btn btn-primary">get by name</button>
        <button (click)="getAllContracts()" class="btn btn-primary">Get All contracts</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4> User Registry </h4>
        <button (click)="insertUser()" class="btn btn-primary">Insert User</button>
        <button (click)="getUser()" class="btn btn-primary">Get User</button>
        <button (click)="getUserAtIndex()" class="btn btn-primary">Get User at Index</button>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h4> Create an account </h4>
        <md-input type="password" [(ngModel)]="inputPassword" placeholder="New password account"></md-input>
        <button md-raised-button (click)="createAccount()">Create eth account</button>
        <button md-button (click)="getUserCountFromFactory()">Get User from Factory</button>

      </div>
    </div>-->
  </div>

</div>
