<h3 md-dialog-title>Virtual node specifications</h3>
<div md-dialog-content>
  <div class="row">
    <div class="col-xs-12">
      <md-select [(ngModel)]="inputResource" placeholder="Resource" style="width:100%;">
        <md-option value="a">A</md-option>
        <md-option value="b">B</md-option>
        <md-option value="c">C</md-option>
      </md-select>
      <br><br>
      <md-input placeholder="Physical location (from preffered PoP)" [(ngModel)]="inputLocation" style="width: 100%"></md-input>
      <br><br>
      <md-input placeholder="Other comments: e.g. minimum CPU or memory capacity" [(ngModel)]="inputComment" style="width: 100%"></md-input>
    </div>
  </div>
</div>
<div md-dialog-actions>
  <button md-raised-button (click)="save()" style="background-color: #008fd3;color: white"> Create</button>
  <button md-button (click)="dialogRef.close()">Cancel</button>
</div>
