<md-sidenav-container class="sidenav-container">
  <div class="row tiles">
    <a (click)="toggleRightSidenav('notifications')">
      <div class="tile3">
        <div class="figure">
          2 <i class="fa fa-exclamation-circle" aria-hidden="true" style="margin-left: 5px;"></i>
        </div>
        <div class="label">
          Notifications
        </div>
      </div>
    </a>
  </div>
  <md-sidenav class="rightSidenav" mode="side" align="end" #menuRight>
    <button md-button class="pull-right" (click)="menuRight.close()" style="min-width: 1%;">X</button>
    <h4 style="margin-top: 20px;margin-left: 40px;">
      <i class="fa fa-exclamation-circle" aria-hidden="true" style="margin-right: 5px;color:gray"></i> Notifications (2)
    </h4>
    <div class="row" style="margin-top: 20px;">
      <div class="col-xs-12">
        <md-list role="list">
          <md-list-item role="listitem">
            <i class="fa fa-bell" aria-hidden="true" style="color:gray"></i>
            <span style="margin-left:7px;font-size: 10pt">The auction for X has finished</span>
          </md-list-item>
          <md-list-item role="listitem">
            <i class="fa fa-bell" aria-hidden="true" style="color:gray"></i>
            <span style="margin-left:7px;font-size: 10pt">Time to reveal bid in X auction</span>
          </md-list-item>
        </md-list>
      </div>
    </div>
  </md-sidenav>
  <md-sidenav class="sidenav" mode="side" opened="true">
    <div class="logo">
      <a href="#"> <img src="../assets/img/kom_logo.png"></a>
    </div>
    <div *ngIf="user" style="margin-top: 20px">
      <div class="col-xs-1" style="margin-top:2px">
        <i class="fa fa-user-circle" style="font-size: 20px;color:#008fd3"></i>
      </div>
      <div class="col-xs-10">
        <span><b>Ethereum address</b></span>
        <div style="margin-top:-7px">
          <span><i>{{user | slice:0:20}}...</i></span>
          <button md-button [mdMenuTriggerFor]="menu" style="min-width: 1%;margin-left: -8px;"><span class="caret"></span></button>
          <md-menu #menu="mdMenu">
            <button md-menu-item (click)="logout()">
              Logout
              <i class="fa fa-sign-out" aria-hidden="true" style="margin-left: 5px;"></i>
            </button>
          </md-menu>
        </div>
      </div>
    </div>
    <div *ngIf="!user" style="margin-top: 20px;margin-left: 30px;">
      <a *ngIf="!loginMode" (click)="toggleLoginMode()">
        Login <i class="fa fa-sign-in"></i>
      </a>
      <div *ngIf="loginMode" style="margin-top:-12px">
        <form [formGroup]="loginForm">
          <div *ngIf="loginForm.controls.address.errors && loginForm.controls.address.touched">
            <div [hidden]="!loginForm.controls.address.errors?.isAddressValid">
              <span style="color:red;font-weight: bold">Ethereum address is not valid</span>
            </div>
          </div>
          <md-input placeholder="Ethereum Address" formControlName="address" [(ngModel)]="inputAddress" style="width: 90%;"></md-input>
          <button md-raised-button [disabled]="!loginForm.valid" (click)="login()" style="min-width: 1%;">Login</button>
          <a [routerLink]="['/register']">Register</a>
          <a (click)="toggleLoginMode()">Cancel</a>
        </form>
      </div>
    </div>
    <nav>
      <div class="collapse navbar-collapse" style="margin-top: 20px;">
        <ul class="nav navbar-nav">
          <li class="link" [routerLinkActive]="['active']" style="width:100%">
            <a [routerLink]="['home']" style="color:black;font-weight: bold">
              <i class="fa fa-home" aria-hidden="true" style="font-size: 25px;color: dimgray;"></i>
              <span style="margin-left:20px">Home</span>
            </a>
          </li>
          <li class="link" [routerLinkActive]="['active']" style="width:100%">
            <a [routerLinkActive]="['active']" [routerLink]="['virtual-network']" style=";font-weight: bold;color:black">
              <i class="fa fa-cloud" aria-hidden="true" style="font-size: 20px;color: dimgray;"></i>
              <span style="margin-left:20px">Virtual networks</span>
            </a>
          </li>
          <li class="link" [routerLinkActive]="['active']" style="width:100%">
            <a [routerLinkActive]="['active']" [routerLink]="['auction']" style=";font-weight: bold;color:black">
              <i class="fa fa-money" aria-hidden="true" style="font-size: 20px;color: dimgray;"></i>
              <span style="margin-left:20px">Auctions</span>
            </a>
          </li>
          <li class="link" [routerLinkActive]="['active']" style="width:100%">
            <a [routerLink]="['contact']" style="color:black;font-weight: bold">
              <i class="fa fa-users" aria-hidden="true" style="font-size: 22px;color: dimgray;"></i>
              <span style="margin-left:20px">Contacts</span>
            </a>
          </li>
        </ul>
      </div>
      <hr>
      <div class="collapse navbar-collapse" style="margin-top: 20px;">
        <ul class="nav navbar-nav">
          <li class="link" [routerLinkActive]="['active']" style="width:100%">
            <a [routerLink]="['settings']" style="color:black;font-weight: bold">
              <i class="fa fa-cog" aria-hidden="true" style="font-size: 22px;color: dimgray;"></i>
              <span style="margin-left:20px">Settings</span>
            </a>
          </li>
          <li class="link" [routerLinkActive]="['active']" style="width:100%">
            <a href="mailto:jordi.bisbalansaldo@stud.tu-darmstadt.de" style="color:black;font-weight: bold">
              <i class="fa fa-comment" aria-hidden="true" style="font-size: 22px;color: dimgray;"></i>
              <span style="margin-left:20px">Send feedback</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <hr>
    <div class="col-xs-10" *ngIf="user" style="margin-left:15px;margin-top:20px">
      <div><b>BALANCE</b></div>
      {{ether}} ETHER <span [mdTooltip]="'This is a testnet ether, no real market value'" class="fa fa-question-circle" style="color:#008fd3"></span>
    </div>
  </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-container>

