<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="../assets/img/kom_logo.png" style="height:26px"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li [routerLinkActive]="['active']"><a [routerLink]="['home']">Home</a></li>
          <li [routerLinkActive]="['active']"><a [routerLinkActive]="['active']" [routerLink]="['products']" >Products</a></li>
          <!--<li [routerLinkActive]="['active']"><a [routerLink]="['archetypes']" [routerLinkActive]="['active']">BM Explorer</a></li>-->
        </ul>
        <form class="navbar-left" style="margin-bottom: -10px;">
          <div class="form-group">
            <!--<ng2-completer class="completer" placeholder="Search for product">
            </ng2-completer>-->
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <div *ngIf="user" style="margin-top: 12px;margin-right: 20px;">
              <i class="fa fa-bell" style="font-size:16pt;opacity:0.5;"></i>
              <img src="{{user.avatar}}" style="border-radius:100px;height:28px;width:28px;margin-bottom: 5px;" mdTooltip="{{user.name}}">
              <button md-button [mdMenuTriggerFor]="menu" style="min-width: 1%;"><span class="caret"></span></button>
              <md-menu #menu="mdMenu">
                <button md-menu-item (click)="logout()">
                  Logout
                  <i class="fa fa-sign-out" aria-hidden="true" style="margin-left: 5px;"></i>
                </button>
              </md-menu>
            </div>
            <div *ngIf="!user" style="margin-top: 20px;margin-right: 20px;">
              <a *ngIf="!loginMode" (click)="toggleLoginMode()">Login <i class="fa fa-sign-in" aria-hidden="true"></i></a>
              <div *ngIf="loginMode" style="margin-top: -12px;margin-bottom:-12px">
                <md-input placeholder="Email" [(ngModel)]="inputEmail" type="email"></md-input>
                <md-input placeholder="Password" [(ngModel)]="inputPassword" type="password"></md-input>
                <a (click)="login()">Login</a>
                <a [routerLink]="['/register']">Register</a>
                <a (click)="toggleLoginMode()">Cancel</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>

</div>

